# macOS
.DS_Store

# Logs and runtime files
*.log

# Jekyll cache
_site/
.sass-cache/
.jekyll-cache/

# Bundler / Ruby
.bundle/
vendor/
Gemfile.lock

# Node (if you ever use JS tooling)
node_modules/

# VS Code or JetBrains IDEs
.vscode/
.idea/
